@import 'tailwindcss';

@theme {
  --color-background-primary: #111315;
  --color-background-secondary: #1b1d1f;
  --color-text-primary: #fef7ee;
  --color-text-secondary: #6f757c;
  --color-button: #4d5562;
  --color-vector: #302522;
  --color-yellow-tag: #f6c768;
  --color-green-tag: #bee3cc;
  --color-sold-out: #ed735d;

  --text-body: 1rem;
  --text-label: 0.875rem;
  --text-small-text: 0.625rem;
  --text-price-tag: 0.75rem;
}
